<h1>Edit Student</h1>
<%= form_for(@student) do |f| %>
<label>First Name</label><br>
<%= f.text_field :title %><br>

<label>Last Name</label><br>
<%= f.number_field :room_number %><br><br>

<%= f.submit "Update Student"%>
<% end %>